{%extends "blog/base.html"%}
{%load static%}
{%block content%}
<div class="col-sm-10">
    <form method = "POST">
        <h1 class = 'medium'>Update Post:</h1>
        {%csrf_token%}
        {%for field in form%}
            <label for = "ExampleInputPassword" class = 'form-label form-control-sm form-group'>{{field.label}}</label>
           {{field}}
        {%endfor%}
        <button type="submit" class="btn btn-black btn-primary">Update</button>
        <a href="{%url 'blog:dashboard'%}" class = 'btn btn-danger'>Cancel</a>
    </form>
   
</div>

{%endblock content%}